nav li a {
  text-decoration: none;
  color: #333;
  padding: 30px;
}

li {
  display: inline;
}

body {
  background-color: #8D918D;
}

.App-header {
  background-color: #D8D0C2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 3px #FF0000;
  font-size: calc(10px + 2vmin);
}

.About-text {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: black;
  background-image: url("https://media.istockphoto.com/photos/california-desert-road-picture-id1170940813?b=1&k=20&m=1170940813&s=170667a&w=0&h=qTihpyVZt9K3AV4oMC8l98odtnCe4TyrzitytycDeME=");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  line-height: 160%;
  text-shadow: 0 0 3px #FF0000;
}

.card {
  width:880px;
  /* border: 5px solid darkgreen; */
}

.container {
  text-align: center;
  width: auto;
  height: auto;
  border: 5px solid darkred;
}

.insurance_button {
  background-color: red;
  color: whitesmoke;
}

.car-collection {
  background-color: lightgray;
  float: left;
  width: 50%;
}

.garage {
  background-color: #8D918D;
  float: left;
  width: 50%;
}

.extra_content {
  text-align: center;
  padding-left: 190px;
}

/* .image {
  border: 5px solid darkblue;
} */

h2 {
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 3px #FF0000;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

a:hover {
  color: rgb(226, 15, 219);
}

a:active {
  color: #1F51FF;
}